<p>
  <span class="cv-left-date">{{ degree.years }}</span>
  {% if degree.years-extra%}<span class="cv-left-date-mobile">{{ degree.years-extra }}</span>{% endif%}
  <strong>{{ degree.degree }}</strong>
  <br />
  <span class="cv-left-date-extra">{{ degree.years-extra }}</span><a
    href="{{ degree.institution-url }}">{{ degree.institution }}</a>
  <br />
  {% if degree.advisor %}<em>Advisors: </em>{% include person.html person=degree.advisor%}{% endif %}{% if degree.co-advisor %},{% include person.html person=degree.co-advisor %} <br />{% endif %} 

  {% if degree.description %}
    {% for item in degree.description %} 
      {{ item }}
    {% endfor %}
  {% endif %}

  {% if degree.coursework%}
    <em>Sample Coursework: </em>
    {% for item in degree.coursework %} 
      {% if forloop.last == false %} {{ item }}, {% endif %}
      {% if forloop.last == true %} {{ item }} {% endif %}
    {% endfor %}
  {% endif %}
</p>