<footer>
	<div id="footer-left">
		<a href="mailto:willepp@cmu.edu"><i class="fa-lg fa fa-envelope footer-icon" aria-hidden="true"></i></a>
		<a href="https://twitter.com/w_epperson"><i class="fa-lg fab fa-twitter footer-icon" aria-hidden="true"></i></a>
		<a href="https://www.linkedin.com/in/willepperson/"><i class="fa-lg fab fa-linkedin-in footer-icon" aria-hidden="true"></i></a>
		<a href="https://github.com/willeppy"><i class="fa-lg fab fa-github footer-icon" aria-hidden="true"></i></a>
		<a href="https://scholar.google.com/citations?user=jgBHxR4AAAAJ&hl=en"><i class="fa-lg fa fa-graduation-cap footer-icon" aria-hidden="true"></i></a>
		<br>
		<br>
		&copy; <time datetime="{{ site.time | date: "%B %-d, %Y" }}">{{ site.time | date: '%Y' }}</time> Will Epperson. Design inspiration from <a style="color:#e6e6e6" href="https://fredhohman.com/">fredhohman.com</a>
	</div>
	
	<div id="footer-right">
	</div>
</footer>


